<!DOCTYPE html>
<html>
<head>
  <title>Book Speak</title>
  <link rel="stylesheet" type="text/css" href="../css/chatstyle.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Menu</a>
        <div class="dropdown-content">
          <a href="./account.html">Account</a>
          <a href="./recommended.html">Recommended</a>
          <a href="./reviews.html">Your Reviews</a>
          <a href="./browse.html">Browse Books</a>
          <a href="./about.html">About Us</a>
        </div>
      </li>
      <li><a href="books.html">Books</a></li>
    </ul>
  </nav>
  <div id="chat-container">

    <div id="header">
      <h1>📚 Book Speak 📖  </h1>
    </div>
    <div id="message-container">
     
      
    </div>
    <div id="input-container">
      <input id="message-input" type="text" placeholder="Share your thoughts..." />
      <div id="send-icon">➤</div>
    </div>
    <button id="leave-button" class="leave-button">Leave</button>
  </div>

    <h2 id="room-name"></h2>
    <ul id="users"></ul>
    <div id="message-container"></div>
    <input type="text" id="message-input" placeholder="Type your message...">
    <button id="send-button">Send</button>
    <button id="leave-button">Leave Chat</button>
  </div>
 
<script src="../js/chatscript.js"></script>
<script src="/socket.io/socket.io.js"></script>
  
</body>
</html>
