
<section class="about-content">
   <h1>About Us</h1>
      <img src="/images/BookSpeak logo.jpg" id="logoIMG" alt="book with star and chat bubble">
   <h2>About BookSpeak</h2>
      <p id="bio">BookSpeak came to life on July 6th, 2023, as a forum and online library to discover, review, and talk about your favorite stories.
        With it's calm yet intellectual aesthetic, BookSpeak aims to create a website that is accessible to readers big and small, and to rekindle the 
        wonder of reading to those it has been lost upon.
      </p>
   <h2>Meet The Team</h2>
      <ul id="developers">
        <li><p>Cheryl Hemphill</p></li>
        <li><p>John Guerrero</p></li>
        <li><p>Marquis Cortez</p></li>
        <li><p>Tai Ho</p></li>
        <li><p>Eric Lavallee</p></li>
      </ul>
    </section>


<script src="/js/script.js"></script>
