
 <section class="account-content">
    <h1>Account</h1>
      <div class="breakdown">
        <p>Account name: </p>
        <button type="button" class="btn btn-primary" id="signOut-btn">Sign Out</button>
        <button type="button" class="btn btn-primary" id="delete-btn">Delete Account</button>
      </div>
    </section>

<script src="/js/account.js"></script>
