
<div id="chat-container">

    <div id="chat-title">
      <h1>Live Chat</h1>
    </div>
    <div id="message-container">
    </div>
    
    <div id="input-container">
      <input id="message-input" type="text" placeholder="Share your thoughts..."  aria-label="your message will go here"/>
      <div id="send-icon">➤</div>
    </div>
    <a  href="/"><button id="leave-button" class="leave-button">Leave Chat</button></a>
  </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatscript.js"></script>
