
<section class="search">
        <input type="text" id="test" placeholder="Search" aria-label="search field input">
        <button id="search-btn">Search</button>
      </section>

      <!--main page cards-->
      <section>
        <h1 id="explore">Explore</h1>
        <section class="shop">
          <div class="card text-center">
            <div class="card-header">
              <h1>Discover</h1>
            </div>
          
          <div class="card-body">
            <a href="https://www.bookbrowse.com/" class="btn btn-primary">Discover Books</a>
          </div>
          </div>
        </section>

        <section class="top">
          <div class="card text-center">
            <div class="card-header">
              <h1>Top Rated</h1>
            </div>

            <div class="card-body">
              <a href="https://www.barnesandnoble.com/h/best-books-of-the-year-so-far" class="btn btn-primary">Ratings</a>
            </div>
          </div>
        </section>

        <section class="hot">
          <div class="card text-center">
            <div class="card-header">
              <h1>Reviews</h1>
            </div>
            <div class="card-body">
              <a href="https://www.societyandspace.org/book-review-forums" class="btn btn-primary">Critics Reviews</a>
            </div>
          </div>
        </section>
      </section>

<script src="/js/script.js"></script>