<section class="title-header">
      <div class="card" id="title-card">
        <div class="card-body">
          Sign-up/Sign-in
        </div>
      </div>

      <div class="loginIMG">
        <img id="ribbon" src="images/LoginRibbon.jpg" alt="logo ribbon image">
      </div>
    </section>

    <div class="dual-content">
      <section class="account-cards">
        <div class="signcard" id="sign-in-card">
          <div class="card-body">
            Sign-in
          </div>
          <input class="user-input" id="username" type="text" placeholder="Username" aria-label="sign in username">
          <input class="user-input" id="password" type="password" placeholder="Password" aria-label="sign in password">
          <button class="enter" type="button" class="btn btn-primary" id="sign-in-enter-btn">Sign In</button>
        </div>

        <div class="signcard" id="sign-up-card">
          <div class="card-body">
            Sign-up
          </div>
          <input class="user-input" id="newUser" type="text" placeholder="Username" aria-label="sign up username">
          <p class="benefits">Create a unique username for your account.</p>
          <input class="user-input" id="newpassword" type="password" placeholder="Password" aria-label="sign up password">
          <p class="benefits">Secure your account with a unique password.</p>
          <button class="enter" type="button" class="btn btn-primary" id="sign-up-enter-btn">Sign Up</button>
        </div>
      </section>

      <section class="login-features">
        <div class="card-feature-txt" id="feature-text">
          <div class="card-body">
            <ul class="lgn-feature-txt" id="login-featureText">
              <li>Live chat with other users</li>
              <li>A fresh way to discover books from your favorite authors</li>
              <li>A new way to share</li>
              <li>More features on the way</li>
            </ul>
          </div>
        </div>


      </section>
    </div>

<script src="/js/login.js"></script> 