* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

main {
    background-color:#631388;
    padding-top:20px;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom:2px solid black;
  }
  
 header h1 {
    padding-right:45%;
    font-size: 100px;
    font-weight: bold;
  }
  
  .buttons {
    padding-right:25px;
    font-size:25px;
    display: flex;
    gap: 10px;
  }
  
 #login {
    padding: 5px 10px;
    background-color: #880fb8;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
  }

#login:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition: all 0.2s ease-in-out;
  }

#img-tile {
   height:auto;
   width:150px;
}
  
/*menu section*/

.sideMenu {
    background-color:white;
    border:none;
    padding-left:20px;
    padding-right:20px;
}

.offcanvas-header {
    background-color:rgb(255, 255, 255);
}

.offcanvas-header h2{
    font-size: 50px;
    color:rgb(0, 0, 0);
}

.btn-close {
    background-color:white;
}

.offcanvas-body {
    background-color:rgb(0, 0, 0);
    border:2px solid white;
}

.offcanvas-items {
    color:rgb(255, 255, 255);
    list-style:none;
}

.offcanvas-items a {
    text-decoration:none;
}

.offcanvas-items li {
    text-decoration:none;
    display:inline-block;
    margin: 20px 0;
    padding-right:50px;
    font-size:40px;
    color:  #880fb8;
    text-shadow:
      0 0 1px  #880fb8,
      0 0 1px  #880fb8,
      0 0 1px  #880fb8,
      0 0 1px  #880fb8,
      0 0 2px  #880fb8,
      0 0 3px  #880fb8,
      0 0 10px  #880fb8,
      0 0 25px  #880fb8;
}
  
.offcanvas-items li:hover {
    position: relative;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 50px  #ffffff, 0 0 60px #880fb8;
    transition: all 0.2s ease-in-out;
}
  
/*categories section*/

.nav-pills {
border:2px solid black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color:#880fb8;
}

.nav-link {
    background-color:white;
    color:black;
    border:0.5px solid black;
}

.nav-pills .nav-link {
    border-radius:0;
}

.tab-content {
    background-color:white;
}

/*browse content section*/
.browse-content h1 {
    text-align:center;
    margin-top:20px;
    font-size:60px;
    background-color:white;
    border:2px solid black;
    margin-bottom:80px;
}

/*footer section*/
footer {
    background-color: #ffffff;
    border-top:2px solid black;
}
