@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
}

main {
  background-color:#4d1c64;
  padding-top:20px;
}

header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom:2px solid black;
}

header h1 {
  padding-right:45%;
  font-size: 100px;
  font-weight: bold;
}

.buttons {
  padding-right:25px;
  font-size:25px;
  display: flex;
  gap: 10px;
}

#login {
  padding: 5px 10px;
  background-color: #880fb8;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

#login:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
  transition: all 0.2s ease-in-out;
}

#img-tile {
 height:auto;
 width:150px;
}

/*menu section*/

.sideMenu {
  background-color:white;
  border:none;
  padding-left:20px;
  padding-right:20px;
}

.offcanvas-header {
  background-color:rgb(255, 255, 255);
}

.offcanvas-header h2{
  font-size: 50px;
  color:rgb(0, 0, 0);
}

.btn-close {
  background-color:white;
}

.offcanvas-body {
  background-color:rgb(0, 0, 0);
  border:2px solid white;
}

.offcanvas-items {
  color:rgb(255, 255, 255);
  list-style:none;
}

.offcanvas-items a {
  text-decoration:none;
}

.offcanvas-items li {
  text-decoration:none;
  display:inline-block;
  margin: 20px 0;
  padding-right:50px;
  font-size:40px;
  color:  #880fb8;
  text-shadow:
    0 0 1px  #880fb8,
    0 0 1px  #880fb8,
    0 0 1px  #880fb8,
    0 0 1px  #880fb8,
    0 0 2px  #880fb8,
    0 0 3px  #880fb8,
    0 0 10px  #880fb8,
    0 0 25px  #880fb8;
}

.offcanvas-items li:hover {
  position: relative;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 50px  #ffffff, 0 0 60px #880fb8;
  transition: all 0.2s ease-in-out;
}

/*categories section*/

.nav-pills {
border:2px solid black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: rgb(255, 255, 255);
  background-color:#880fb8;
}

.nav-link {
  background-color:white;
  color:black;
  border:0.5px solid black;
}

.nav-pills .nav-link {
  border-radius:0;
}

.tab-content {
  background-color:white;
}

/*chat content*/

#chat-container {
  width: 90%;
  margin-left:5%;
  margin-top:25px;
  margin-bottom:40px;
  border-radius: 12px;
  background-color:#880fb8;
  box-shadow: 0 0 25px rgb(255, 255, 255);
  padding: 20px;
  animation: fadeIn 0.5s ease;
}

#chat-title h1 {
  font-size:70px;
  color: #ffffff;
  text-align: center;
}

#message-container {
  height: 390px;
  border-radius: 10px;
  background-color: #1e1f24;
  padding: 10px;
  margin-bottom: 50px;
  border:1px solid white;
  color: #ffffff;
}

#input-container {
  position: relative;
  width: 70%;
  margin: 0 auto; /* centered the input box */
}

#message-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background-color: #1e1f24;
  color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.leave-button {
  display: block;
  width: 20%;
  border: 1px solid white;;
  border-radius: 6px;
  background-color:#ff3aa6;
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px; /* add some space above the leave button to look better */
  margin-left:40%;
  font-size:25px;
}

.leave-button:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.leave-button:active {
  background-color: #d41fa7;
}

/*footer section*/
footer {
  background-color: #ffffff;
  border-top:2px solid black;
}

footer h1 {
text-align:center;
font-size: 80px;
font-weight: bold;
}

/* adding keyframes to project */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


