* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
  }
  
  main {
    background-color:#631388;
    padding-top:20px;
  }
  
  header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom:2px solid black;
  }
    
  header h1 {
    padding-right:45%;
    font-size: 100px;
    font-weight: bold;
  }
  
  #img-tile {
    height:auto;
    width:150px;
  }
    
  /*menu section*/
  .sideMenu {
    background-color:white;
    border:none;
    padding-left:20px;
    padding-right:20px;
  }
  
  .offcanvas-header {
    background-color:rgb(255, 255, 255);
  }
  
  .offcanvas-header h2{
    font-size: 50px;
    color:rgb(0, 0, 0);
  }
  
  .btn-close {
    background-color:white;
  }
  
  .offcanvas-body {
    background-color:rgb(0, 0, 0);
    border:2px solid white;
  }
  
  .offcanvas-items {
    color:rgb(255, 255, 255);
    list-style:none;
  }
  
  .offcanvas-items a {
    text-decoration:none;
  }
  
  .offcanvas-items li {
    text-decoration:none;
    display:inline-block;
    margin: 20px 0;
    padding-right:50px;
    font-size:40px;
    color:  #880fb8;
    text-shadow:
      0 0 1px  #880fb8,
      0 0 1px  #880fb8,
      0 0 1px  #880fb8,
      0 0 1px  #880fb8,
      0 0 2px  #880fb8,
      0 0 3px  #880fb8,
      0 0 10px  #880fb8,
      0 0 25px  #880fb8;
  }
    
  .offcanvas-items li:hover {
    position: relative;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 50px  #ffffff, 0 0 60px #880fb8;
    transition: all 0.2s ease-in-out;
  }
    
  /*categories section*/
  .nav-pills {
    border:2px solid black;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color:#880fb8;
  }
  
  .nav-link {
    background-color:white;
    color:black;
    border:0.5px solid black;
  }
  
  .nav-pills .nav-link {
    border-radius:0;
  }
  
  .tab-content {
    background-color:white;
  }
  
  /*title content*/
  .title-header {
    display:inline-flex;
    width:100%;
  }
  
  #title-card {
    border-radius:0;
    border:2px solid black;
    width:55%;
    text-align:center;
    font-style:bold;
    font-size:50px;
  }
  
  #ribbon {
    height:120px;
    padding-left:120px;
  }
  
  /*Account content*/
  .dual-content {
    display:inline-flex;
    width:100%;
  }
  
  .account-cards {
    width:55%;
    margin:50px;
  }
  
  #sign-card {
    font-style:bold;
    font-size:50px;
    border-radius:10px;
    margin-bottom:50px;
    padding-left:50px;
    border:2px solid black;
  }
  
  #info,#password {
    background-color:rgb(230, 230, 230);
    width:80%;
    margin-left:25px;
    height:40px;
    margin-bottom:15px;
    font-size:25px;
    border-radius:5px;
    border:2px solid black;
  }
  
  #sign-card p {
    font-size:20px;
  }
  
  #enter-btn {
    width:165px;
    height:50px;
    margin-top:20px;
    margin-left:65%;
    margin-bottom:35px;
    font-size:25px;
    border:2px solid black;
    background-color:#880fb8;
  }
  
  #enter-btn:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition: all 0.2s ease-in-out;
  }
  
  #feature-text {
    background-color:#631388;
    border:3px dashed white;
    margin-top:110px;
    margin-left:150px;
    width:65%;
    height:70%;
  }
  
  #login-featureText {
    color:white;
    font-size:30px;
  }
  
  #login-featureText li {
    font-weight:bold;
    margin-bottom:25%;
  }
  
  /*footer section*/
  footer {
    background-color: #ffffff;
    border-top:2px solid black;
  }
  
  footer h1 {
  text-align:center;
  font-size: 80px;
  font-weight: bold;
  }
  