* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

main {
    background-color:#631388;
}

/*header section*/

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom:2px solid black;
  }
  
 header h1 {
    padding-right:45%;
    font-size: 100px;
    font-weight: bold;
  }
  
  .buttons {
    padding-right:25px;
    font-size:25px;
    display: flex;
    gap: 10px;
  }
  
 #login,#subs {
    padding: 5px 10px;
    background-color: #880fb8;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
  }

#img-tile {
   height:auto;
   width:150px;
}
  
/*menu section*/

.sideMenu {
    background-color:white;
    border:none;
    padding-left:20px;
    padding-right:20px;
}

.offcanvas-header {
    background-color:rgb(0, 0, 0);
    color:white;
}

.btn-close {
    background-color:white;
}

/*categories section*/

  .nav-pills {
    border:2px solid black;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color:#880fb8;
}

.nav-link {
    background-color:white;
    color:black;
    border:0.5px solid black;
}

.nav-pills .nav-link {
    border-radius:0;
}

.tab-content {
    background-color:white;
}

/*main page cards sections */

.shop-now,.top-rated,.whats-hot {
    margin:25px;
    align-items:center;
    justify-content:center;
    border:2px solid black;
    border-radius:8px;
}

.shop-now a,.top-rated a,.whats-hot a {
    padding: 10px 20px;
    background-color:#880fb8;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/*footer section*/

footer {
    background-color: #ffffff;
    border-top:2px solid black;

}