@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1f24;
}

nav {
  background-color: #282c34;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a, .dropbtn {
  font-size: 16px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282c34;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #111;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

#chat-container {
  width: 600px;
  margin: 20px auto;
  border-radius: 12px;
  background-color: #282c34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fadeIn 0.5s ease;
}

#header {
  color: #f39c12;
  text-align: center;
}

#message-container {
  height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #1e1f24;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

#input-container {
  position: relative;
  width: 70%;
  margin: 0 auto; /* center the input box */
}

#message-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #1e1f24;
  color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#send-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #e67e22;
  cursor: pointer;
}

.leave-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #ff4757;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* add some space above the leave button */
}

.leave-button:hover {
  background-color: #e84151;
}

.leave-button:active {
  background-color: #d63042;
}

/* adding keyframes to project */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
